body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: Newsreader, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    white-space: normal;
    }

/* ------ FONT STYLES ------ */
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Courier Prime', Courier, monospace;
        font-weight: 400;
        margin-top: 5px; 
        margin-bottom: 10px;
    }
    h1 {font-size: 32px; margin-top: 20px; margin-bottom: 20px;}
    h2 {font-size: 30px;}
    h3 {font-size: 28px;}
    h4 {font-size: 20px;}
    h5 {font-size: 18px;}
    h6 {font-size: 16px;}

    p {margin-top: 5px; margin-bottom: 8px;}

/* ------ CONTENT ------ */

    /* .all-container {
        max-height: 100vh;
        overflow: hidden;
    } */

    .entry-popup {
        visibility: hidden; 
        opacity: 0; 
        transition: opacity 300ms ease;
        position: fixed;
        }

    .entry-popup.visible {
        visibility: visible;
        position: fixed;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 5% 10%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-flex: 0;
        -webkit-flex: 0 auto;
        -ms-flex: 0 auto;
        flex: 0 auto;
        opacity: 1;
        transition: opacity 300ms ease;
        }

    .entry-content-wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
        background-color: #fff;
        outline-color: #333;
        outline-offset: 0px;
        outline-style: solid;
        outline-width: 2px;
        overflow-y: auto;
        }

    .entry-close {
        position: sticky;
        left: auto;
        top: 1%;
        right: 1%;
        bottom: auto;
        width: 2.7em;
        height: 2.7em;
        float: right;
        cursor: pointer;
        }
    .entry-close:medium {width: 1.7em;}

    .close-img {max-width: 100%;}

    .entry-head {
        margin-top: 40px;
        margin-bottom: 40px;
        border-bottom: solid #333;
        padding-bottom: 15px;
    }

    .entry-content-inner {
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 50px;
        padding-left: 50px;
        }

    .entry-content-inner:medium {
        padding-right: 30px;
        padding-left: 30px;
        }
    
    .entry-item {margin-bottom: 40px;}

    .entry-popup.hidden {
        visibility: hidden; 
        opacity: 0; 
        transition: opacity 300ms ease;}

    .entry-link {
        font-family: 'Courier Prime', Courier, monospace;
        color: #333;
        font-weight: 400;
        padding: 3px;
        text-decoration: none;
        border-bottom: solid #333;
        border-width: thin;
        transition: 150ms;
        transition-timing-function: ease;
    }

    .entry-link:hover {
        background-color: #dfdfdf !important;
    }

/* ------ MAP CLASSES ------ */

    .all-map {
        stroke: #fff;
        stroke-width: 3px;
        stroke-miterlimit: 10;
    }

    /* Diff'rent strokes */
        .small-map {stroke-width: .5px;} /* Monaco, Liecht, Macau, Hong Kong */
        .us-states-map {stroke: rgba(255,255,255,.25);} /* id="US" */

    /* South America colors */
        .act.sa {fill: #6d4d40;}
        .other.sa {fill: #d2c8c4;}

    /* Oceania colors */
        .act.oceania {fill: #815D19;}
        .other.oceania {fill: #D3C6AF;}

    /* Europe colors */
        .act.eu {fill:#616952;}
        .other.eu {fill: #ced1ca;}

    /* Antarctica colors */
        .act.ant {fill: #5a5019;}
        .other.ant {fill: #ccc9b9;}

    /* Africa colors */
        .act.afr {fill: #804d1f;}
        .other.afr {fill: #d8c8ba;}

    /* Asia colors */
        .act.asia {fill: #a78a0a;}
        .other.asia {fill: #e4dbb4;}

    /* North America colors */
        .act.na {fill: #5a5c5e;}
        .other.na {fill: #cccdcd;}

    /* Active country opacity hovers */
        .act {
            opacity: .65;
            transition: 250ms;
            transition-timing-function: ease;   
        } 
        .act:hover {opacity: 1;}

    /* Cursor states */
        .ready {cursor: pointer;}

        .tooltip {visibility: hidden; position:absolute}
        .tooltip.visible {
            visibility: visible;
            position: absolute;
            z-index: 999;
            background-color: white;
            color: #333;
            font-family: 'Courier Prime', Courier, monospace;
            padding-bottom: 0px;
            padding-top: 5px;
            padding-right: 5px;
            padding-left: 5px;
            border-bottom: #333 solid;
            margin-left: 10px;
            }